<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">

    <persistence-unit name="notify" transaction-type="RESOURCE_LOCAL">
        <class>ru.zy2ba.tmtrck.entity.Prepod</class>
        <class>ru.zy2ba.tmtrck.entity.Pair</class>
        <class>ru.zy2ba.tmtrck.entity.Group2</class>
        <class>ru.zy2ba.tmtrck.entity.PairNum</class>
        <class>ru.zy2ba.tmtrck.entity.PairName</class>
        <class>ru.zy2ba.tmtrck.entity.PairDate</class>
        <class>ru.zy2ba.tmtrck.entity.Classroom</class>
        <class>ru.zy2ba.tmtrck.entity.PlanTable</class>
        <class>ru.zy2ba.tmtrck.entity.Plan</class>
        <!--class>ru.zy2ba.tmtrck.entity.Otchet</class>
        <class>ru.zy2ba.tmtrck.entity.OtchetTable</class-->
        <class>ru.zy2ba.tmtrck.entity.ActivityTypes.Consult</class>
        <class>ru.zy2ba.tmtrck.entity.ActivityTypes.DiplomaProject</class>
        <class>ru.zy2ba.tmtrck.entity.ActivityTypes.Exam</class>
        <class>ru.zy2ba.tmtrck.entity.ActivityTypes.KursProject</class>
        <class>ru.zy2ba.tmtrck.entity.ActivityTypes.KursRab</class>
        <class>ru.zy2ba.tmtrck.entity.ActivityTypes.Practice</class>
        <class>ru.zy2ba.tmtrck.entity.AutumnSpringSpacer</class>

        <!--class>com.genix.addressbook.entity.Person</class>
        <class>com.genix.addressbook.entity.Phone</class-->
    </persistence-unit>
</persistence>